---
interface Props {
  title: string;
  body: string;
  href: string;
  img: string;
  alt: string;
}

const { href, title, body, img, alt } = Astro.props;
---

<section
  class="flex items-center gap-4 text-base mt-6 movile:flex-col movile:items-start"
>
  <div class="w-[50%] movile:w-[100%]">
    <img
      src=`${img}`
      alt=`${alt}`
      class="w-[100%] rounded-tl-2xl rounded-bl-2xl movile:rounded-bl-[0px] movile:rounded-tr-2xl"
    />
  </div>
  <div class="min-h-[100%] w-[40%] movile:w-[100%]">
    <h3 class="font-medium text-xl text-[#491780]">{title}</h3>
    <p class="my-3">{body}</p>
    <div
      class="flex w-[50%] bg-[#f7e018] text-[#192bc7] rounded-lg justify-center items-center group hover:cursor-pointer"
    >
      <a
        class="font-medium group-hover:underline"
        href=`${href}`
        target="_blank">Link</a
      >
      <svg
        class="w-7 h-7 ml-3 my-1 group-hover:rotate-45 transition-transform ease-in duration-200"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
        ></path>
        <path
          d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
        ></path>
      </svg>
    </div>
  </div>
</section>
